/* styles.css

  $ TABLE OF CONTENTS
  *1.0 - Global & Base Styles
  *2.0 - Page Load & Transitions
  *3.0 - Backgrounds & Overlays
  *4.0 - Main Layout Structure
  *5.0 - Components
    >5.1 - Logo Styling
    >5.2 - Navigation Bar
    >5.3 - Reservation Button
    >5.4 - Hamburger Menu
    >5.5 - Menu Option
    >5.6 - Contact Option
    >5.7 - Location Option
    >5.8 - Footer Styling
  *6.0 - Responsive Styles (max-width: 768px)
  
*/

/*$ ------------ 1.0 - Global & Base Styles ------------ */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* >positioning */
  position: relative;

  /* >display - box model */
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  /* >visuals  */
  overflow: hidden;
}

/*$ ------------ 2.0 - Page Load & Transitions ------------ */

/** Initial black screen used to prevent a 'white flash'  */
#initialLoad {
  /* >positioning */
  position: fixed;
  z-index: 9999;

  /* >box model */
  height: 100vh;
  width: 100vw;

  /* >visuals */
  background-color: black;
  opacity: 1;

  /* >animation */
  transition: opacity 1s ease-in;

  /* >interaction */
  pointer-events: none;
}

#initialLoad.is-loaded {
  opacity: 0;
}

header {
  opacity: 0;
  transition: opacity 1s ease-in;
}

header.is-loaded {
  opacity: 1;
}

/*$ ------------ 3.0 - Backgrounds & Overlays ------------ */

/** Fallback static image behind video */
body::before {
  /* >base */
  content: '';

  /* >positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;

  /* >box model */
  width: 100%;
  height: 100%;

  /* >visuals */
  background-image: url('./assets/splash.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  /* >animation - effects */
  transform: scale(1.1);
  filter: blur(0.5px) contrast(1.1);
}

.video-background {
  /* >positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;

  /* >box model */
  width: 100vw;
  height: 100vh;

  /* >visuals */
  overflow: hidden;

  /* >effects */
  transform: scale(1.01); /* 'used to fix the gap from subpixel rendering */
}

.video-background video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-background::after {
  /* >base  */
  content: '';

  /* >positioning */
  position: absolute;
  top: 0;
  left: 0;

  /* >box model */
  width: 100%;
  height: 100%;

  /* >visuals */
  background-color: rgba(0, 0, 0, 0.4);
}

/*$ ------------ 4.0 - Main Layout Structure ------------ */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#content {
  /* >display */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  flex-grow: 1;

  /* >box model */
  padding-top: 1.5%;
  /* >animation */
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
}

#content.is-fading {
  opacity: 0;
}

/*$ ------------ 5.0 - Components ------------ */

/** ------ 5.1 - Logo Styling ------ */

header .logo {
  /* >box model */
  padding-left: 20px;
  width: 20vw;

  /* >typography */
  color: white;
  font-family: 'playfair', serif;
  font-size: clamp(2rem, 6vw, 3rem);
  font-style: italic;
}

/** ------ 5.2 - Navigation Bar ------ */

nav {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  gap: 5vw;
}

.nav-wrapper {
  /* >display - layout */
  display: inline-flex;
  gap: 5vw;

  /* >box model */
  padding: 5px 5vw;

  /* >visuals */
  background-color: rgb(0, 0, 0);
}

nav button {
  /* >positioning */
  position: relative;

  /* >display & box model */
  display: inline-block;
  border: none;

  /* >typography */
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: 200;
  font-size: clamp(1rem, 2vw, 1.2rem);
  white-space: nowrap;
  text-decoration: none;

  /* >visuals */
  background-color: transparent;

  /* >interaction */
  cursor: pointer;
}

nav button::after {
  /* >base */
  content: '';

  /* >positioning */
  position: absolute;
  bottom: 0;
  left: 0;

  /* >box model */
  width: 100%;
  height: 1px;

  /* >visuals */
  background-color: white;

  /* >animation */
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease-in-out;
}

nav button:hover::after {
  transform: scaleX(0.95);
}

/** ------ 5.3 Reservation Button ------ */

.reservation-wrapper {
  display: flex;
  justify-content: flex-end;
  width: 20vw;
}

.reservation {
  /* >box model */
  margin-right: 20px;
  padding: 8px;
  border: none;
  border-radius: 5px;

  /* >typography */
  color: white;
  font-family: 'Inter', sans-serif;
  font-size: clamp(0.5rem, 1.65vw, 1rem);
  font-weight: 400;

  /* >visuals */
  background-color: rgba(0, 0, 0, 0.4);

  /* >animation */
  transition: background-color 1s ease, color 1s ease;

  /* >interaction */
  cursor: pointer;
}

.reservation:hover {
  transition: background-color 1s ease, color 1s ease;
  background-color: white;
  color: black;
}

/** ------ 5.4 Hamburguer Menu ------ */

.hamburger-menu {
  /* >positioning */
  z-index: 10;

  /* >display - layout */
  display: none;
  flex-direction: column;
  justify-content: space-around;

  /* >box model */
  width: 2rem;
  height: 2rem;
  padding: 0;
  border: none;

  /* >visuals */
  background: transparent;
  -webkit-tap-highlight-color: transparent;

  /* >interaction */
  cursor: pointer;
}

.hamburger-menu span {
  /* >display & layout */
  display: flex;

  /* >box model */
  width: 2rem;
  height: 2px;
  border-radius: 2px;

  /* >visuals */
  background: rgb(255, 255, 255);

  /* >animation */
  transition: transform 0.5s ease;
}

.hamburger-menu span:nth-child(2) {
  transition: opacity 1.5s ease; /* 'independent speed for 2nd span */
}

/** ------ 5.5 Menu Option ------ */

.menu-wrapper {
  /*' some swiper additions for swiper */
  overflow: hidden;
  position: relative;

  /* >box model */
  max-width: 90%;
  max-height: 90%;
  margin-left: auto;
  margin-right: auto;

  flex-shrink: 100 !important;
  width: 800px;
}

.menu-filmstrip {
  display: flex;
}

.menu-starter {
  /* >display & layout */
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  flex-shrink: 0;

  /* >box model */
  width: 100%;
  height: auto;
  padding: 15px;
  border: solid 1px black;

  /* >typography */
  color: rgb(225, 225, 225);
  text-align: center;
  font-family: 'Playfair';

  /* >visuals */
  background-color: #0000000f;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56 28' width='56' height='28'%3E%3Cpath fill='%23000000' fill-opacity='0.5' d='M56 26v2h-7.75c2.3-1.27 4.94-2 7.75-2zm-26 2a2 2 0 1 0-4 0h-4.09A25.98 25.98 0 0 0 0 16v-2c.67 0 1.34.02 2 .07V14a2 2 0 0 0-2-2v-2a4 4 0 0 1 3.98 3.6 28.09 28.09 0 0 1 2.8-3.86A8 8 0 0 0 0 6V4a9.99 9.99 0 0 1 8.17 4.23c.94-.95 1.96-1.83 3.03-2.63A13.98 13.98 0 0 0 0 0h7.75c2 1.1 3.73 2.63 5.1 4.45 1.12-.72 2.3-1.37 3.53-1.93A20.1 20.1 0 0 0 14.28 0h2.7c.45.56.88 1.14 1.29 1.74 1.3-.48 2.63-.87 4-1.15-.11-.2-.23-.4-.36-.59H26v.07a28.4 28.4 0 0 1 4 0V0h4.09l-.37.59c1.38.28 2.72.67 4.01 1.15.4-.6.84-1.18 1.3-1.74h2.69a20.1 20.1 0 0 0-2.1 2.52c1.23.56 2.41 1.2 3.54 1.93A16.08 16.08 0 0 1 48.25 0H56c-4.58 0-8.65 2.2-11.2 5.6 1.07.8 2.09 1.68 3.03 2.63A9.99 9.99 0 0 1 56 4v2a8 8 0 0 0-6.77 3.74c1.03 1.2 1.97 2.5 2.79 3.86A4 4 0 0 1 56 10v2a2 2 0 0 0-2 2.07 28.4 28.4 0 0 1 2-.07v2c-9.2 0-17.3 4.78-21.91 12H30zM7.75 28H0v-2c2.81 0 5.46.73 7.75 2zM56 20v2c-5.6 0-10.65 2.3-14.28 6h-2.7c4.04-4.89 10.15-8 16.98-8zm-39.03 8h-2.69C10.65 24.3 5.6 22 0 22v-2c6.83 0 12.94 3.11 16.97 8zm15.01-.4a28.09 28.09 0 0 1 2.8-3.86 8 8 0 0 0-13.55 0c1.03 1.2 1.97 2.5 2.79 3.86a4 4 0 0 1 7.96 0zm14.29-11.86c1.3-.48 2.63-.87 4-1.15a25.99 25.99 0 0 0-44.55 0c1.38.28 2.72.67 4.01 1.15a21.98 21.98 0 0 1 36.54 0zm-5.43 2.71c1.13-.72 2.3-1.37 3.54-1.93a19.98 19.98 0 0 0-32.76 0c1.23.56 2.41 1.2 3.54 1.93a15.98 15.98 0 0 1 25.68 0zm-4.67 3.78c.94-.95 1.96-1.83 3.03-2.63a13.98 13.98 0 0 0-22.4 0c1.07.8 2.09 1.68 3.03 2.63a9.99 9.99 0 0 1 16.34 0z'%3E%3C/path%3E%3C/svg%3E");
}

.menu-pagination {
  /* >display and layout */
  display: flex;
  justify-content: center;
  position: absolute;

  height: 3%;
  width: 100%;
}

.menu-pagination .swiper-pagination-bullet {
  /* >swiper styles */
  --swiper-pagination-color: rgb(202, 195, 195);
  --swiper-pagination-bullet-inactive-color: rgb(162, 155, 155);
  --swiper-pagination-bullet-inactive-opacity: 0.5;
  --swiper-pagination-bullet-size: 15px;
  border: solid 3px black;
  border-radius: 0px;
}

.menu-title {
  font-size: 1.2rem;
}

.menu-title span {
  padding: 0px 8%;
  background-color: black;
}

.menu-item {
  /* >display & layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;

  /* >box model */
  padding: 10px;

  /* >typography */
  font-family: 'Playfair';
  text-align: start;
}

.dish-name {
  /* >box model */
  width: 100%;

  /* >typography */
  font-size: 1rem;
  font-weight: 400;
}

.dish-name span {
  color: white;
  background-color: black;
  padding: 2px 3px;
}

.dish-description {
  /* >box model */
  padding: 0px;

  /* >typography */
  color: rgba(255, 255, 255, 0.733);
  font-style: italic;
  font-size: 1rem;
  font-weight: 200;
}

.dish-description span {
  color: rgba(255, 255, 255, 0.733);
  background-color: black;
  padding: 2px 3px;
}

/*' swiper styles */
.swiper-pagination-bullet {
  background: white;
  opacity: 0.6;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}

/** ------ 5.6 Contact Option ------ */

.contact-wrapper {
  /* >display - layout - box model */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  border: solid 1px black;

  /* >typography */
  color: white;
  font-family: 'Inter';
  font-size: 1.5rem;
  font-weight: 200;

  /* >visuals */
  background-color: #0000000f;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56 28' width='56' height='28'%3E%3Cpath fill='%23000000' fill-opacity='0.5' d='M56 26v2h-7.75c2.3-1.27 4.94-2 7.75-2zm-26 2a2 2 0 1 0-4 0h-4.09A25.98 25.98 0 0 0 0 16v-2c.67 0 1.34.02 2 .07V14a2 2 0 0 0-2-2v-2a4 4 0 0 1 3.98 3.6 28.09 28.09 0 0 1 2.8-3.86A8 8 0 0 0 0 6V4a9.99 9.99 0 0 1 8.17 4.23c.94-.95 1.96-1.83 3.03-2.63A13.98 13.98 0 0 0 0 0h7.75c2 1.1 3.73 2.63 5.1 4.45 1.12-.72 2.3-1.37 3.53-1.93A20.1 20.1 0 0 0 14.28 0h2.7c.45.56.88 1.14 1.29 1.74 1.3-.48 2.63-.87 4-1.15-.11-.2-.23-.4-.36-.59H26v.07a28.4 28.4 0 0 1 4 0V0h4.09l-.37.59c1.38.28 2.72.67 4.01 1.15.4-.6.84-1.18 1.3-1.74h2.69a20.1 20.1 0 0 0-2.1 2.52c1.23.56 2.41 1.2 3.54 1.93A16.08 16.08 0 0 1 48.25 0H56c-4.58 0-8.65 2.2-11.2 5.6 1.07.8 2.09 1.68 3.03 2.63A9.99 9.99 0 0 1 56 4v2a8 8 0 0 0-6.77 3.74c1.03 1.2 1.97 2.5 2.79 3.86A4 4 0 0 1 56 10v2a2 2 0 0 0-2 2.07 28.4 28.4 0 0 1 2-.07v2c-9.2 0-17.3 4.78-21.91 12H30zM7.75 28H0v-2c2.81 0 5.46.73 7.75 2zM56 20v2c-5.6 0-10.65 2.3-14.28 6h-2.7c4.04-4.89 10.15-8 16.98-8zm-39.03 8h-2.69C10.65 24.3 5.6 22 0 22v-2c6.83 0 12.94 3.11 16.97 8zm15.01-.4a28.09 28.09 0 0 1 2.8-3.86 8 8 0 0 0-13.55 0c1.03 1.2 1.97 2.5 2.79 3.86a4 4 0 0 1 7.96 0zm14.29-11.86c1.3-.48 2.63-.87 4-1.15a25.99 25.99 0 0 0-44.55 0c1.38.28 2.72.67 4.01 1.15a21.98 21.98 0 0 1 36.54 0zm-5.43 2.71c1.13-.72 2.3-1.37 3.54-1.93a19.98 19.98 0 0 0-32.76 0c1.23.56 2.41 1.2 3.54 1.93a15.98 15.98 0 0 1 25.68 0zm-4.67 3.78c.94-.95 1.96-1.83 3.03-2.63a13.98 13.98 0 0 0-22.4 0c1.07.8 2.09 1.68 3.03 2.63a9.99 9.99 0 0 1 16.34 0z'%3E%3C/path%3E%3C/svg%3E");
}

.contact-wrapper span {
  /* >box model */
  padding-bottom: 5px;
  width: 100%;

  /* >typography */
  text-align: center;
}

.contact-wrapper span span {
  background-color: black;
  padding: 1px 8%;
}

.contact-wrapper p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.2rem;
}

.contact-wrapper p span {
  background-color: black;
  padding: 0px 3px;
  font-weight: 100;
}

/** ------ 5.7 Location Option ------ */

.location-wrapper {
  /* >display - layout - box model */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  border: solid 1px black;

  /* >typography */
  color: white;
  font-family: 'Inter';
  font-size: 1.5rem;
  font-weight: 200;

  /* >visuals */
  background-color: #0000000f;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56 28' width='56' height='28'%3E%3Cpath fill='%23000000' fill-opacity='0.5' d='M56 26v2h-7.75c2.3-1.27 4.94-2 7.75-2zm-26 2a2 2 0 1 0-4 0h-4.09A25.98 25.98 0 0 0 0 16v-2c.67 0 1.34.02 2 .07V14a2 2 0 0 0-2-2v-2a4 4 0 0 1 3.98 3.6 28.09 28.09 0 0 1 2.8-3.86A8 8 0 0 0 0 6V4a9.99 9.99 0 0 1 8.17 4.23c.94-.95 1.96-1.83 3.03-2.63A13.98 13.98 0 0 0 0 0h7.75c2 1.1 3.73 2.63 5.1 4.45 1.12-.72 2.3-1.37 3.53-1.93A20.1 20.1 0 0 0 14.28 0h2.7c.45.56.88 1.14 1.29 1.74 1.3-.48 2.63-.87 4-1.15-.11-.2-.23-.4-.36-.59H26v.07a28.4 28.4 0 0 1 4 0V0h4.09l-.37.59c1.38.28 2.72.67 4.01 1.15.4-.6.84-1.18 1.3-1.74h2.69a20.1 20.1 0 0 0-2.1 2.52c1.23.56 2.41 1.2 3.54 1.93A16.08 16.08 0 0 1 48.25 0H56c-4.58 0-8.65 2.2-11.2 5.6 1.07.8 2.09 1.68 3.03 2.63A9.99 9.99 0 0 1 56 4v2a8 8 0 0 0-6.77 3.74c1.03 1.2 1.97 2.5 2.79 3.86A4 4 0 0 1 56 10v2a2 2 0 0 0-2 2.07 28.4 28.4 0 0 1 2-.07v2c-9.2 0-17.3 4.78-21.91 12H30zM7.75 28H0v-2c2.81 0 5.46.73 7.75 2zM56 20v2c-5.6 0-10.65 2.3-14.28 6h-2.7c4.04-4.89 10.15-8 16.98-8zm-39.03 8h-2.69C10.65 24.3 5.6 22 0 22v-2c6.83 0 12.94 3.11 16.97 8zm15.01-.4a28.09 28.09 0 0 1 2.8-3.86 8 8 0 0 0-13.55 0c1.03 1.2 1.97 2.5 2.79 3.86a4 4 0 0 1 7.96 0zm14.29-11.86c1.3-.48 2.63-.87 4-1.15a25.99 25.99 0 0 0-44.55 0c1.38.28 2.72.67 4.01 1.15a21.98 21.98 0 0 1 36.54 0zm-5.43 2.71c1.13-.72 2.3-1.37 3.54-1.93a19.98 19.98 0 0 0-32.76 0c1.23.56 2.41 1.2 3.54 1.93a15.98 15.98 0 0 1 25.68 0zm-4.67 3.78c.94-.95 1.96-1.83 3.03-2.63a13.98 13.98 0 0 0-22.4 0c1.07.8 2.09 1.68 3.03 2.63a9.99 9.99 0 0 1 16.34 0z'%3E%3C/path%3E%3C/svg%3E");
}

.location-wrapper span {
  text-align: center;
  width: 100%;
}

.location-wrapper span span {
  background-color: black;
  padding: 1px 8%;
}

.location-wrapper p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.2rem;
}

.location-wrapper p span {
  background-color: black;
  padding: 0px 3px;
  font-weight: 100;
}

/** ------ 5.8 Location Option ------ */

footer {
  width: 100%;
  padding: 1rem 0;
  text-align: center;
}

footer p {
  font-family: 'Inter', sans-serif;
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.5);
}

footer a {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  transition: color 0.3s ease;
}

footer a:hover {
  color: white;
}

/*$ ------------ 6.0 - Responsive Styles (max-width: 768px) ------------ */

@media (max-width: 768px) {
  /** ------ General Layout & Visibility ------ */

  .reservation-wrapper {
    display: none;
  }

  .hamburger-menu {
    display: flex;
  }

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  header .logo {
    /* >box model */
    width: 100vw;
    padding-left: 0px;

    /* >typography */
    text-align: center;
    font-size: clamp(4rem, 6vw, 4rem);
  }

  /** ------ Mobile Navigation Menu ------ */
  nav {
    /* >display - layout - box model */
    display: flex;
    justify-content: center;
    align-items: center;

    /* >box model - visuals */
    overflow: hidden;
    opacity: 0;
    margin-top: 10px;

    /* >animation */
    transition: opacity 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
  }

  nav .nav-wrapper {
    /* >display & layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    /* >box model & visuals */
    padding: 0;
    background-color: transparent;
  }

  nav button {
    /* >box model */
    padding: 1px 4vw 1px 4vw;

    /* >typography */
    font-weight: 125;
    font-size: 1.2rem;

    /* >visuals */
    background-color: black;

    /* >interaction */
    pointer-events: none;
  }

  nav button:hover::after {
    transform: scaleX(1);
  }

  nav.is-active {
    /* >animation */
    transition: opacity 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
    opacity: 1;
  }

  nav.is-active button {
    /* >interaction */
    pointer-events: all;
  }

  .menu-wrapper {
    /*' some swiper additions for swiper */
    overflow: hidden;
    position: relative;
    /* >box model */
    max-width: 90%;

    max-height: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  /** ------ Hamburger Animation ------ */
  .hamburger-menu.is-active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .hamburger-menu.is-active span:nth-child(2) {
    transition: opacity 0.125s ease;
    opacity: 0;
  }

  .hamburger-menu.is-active span:nth-child(3) {
    transform: rotate(-45deg) translate(10px, -10px);
  }
}
